extends layout

block content
  h1= title
  
  div(class='board') 
    ul(class='groupM')
      each val in messages
        li
          ul(class='userM') 
            li(class='username') #{val.user}
            li(class='usertext') #{val.text} 
            li(class='usertime') #{val.added.toLocaleString('en-US',{hour: 'numeric', minute: 'numeric'})}

  div(class='send')
    a(href='/new') 
      input(type='button', value='send message', id='button')